@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;600&display=swap");

:root {
  --primary-color: #0077b6;
  --hover-color: #005884;
  --light-blue: #eaf5f7;
  --dark-text: #03045e;
  --light-text: #ffffff;
  --placeholder-text: #aaa;
  --input-border: #ddd;
  --box-shadow-light: 0px 2px 4px rgba(0, 0, 0, 0.1);
  --box-shadow-dark: 0px 4px 8px rgba(0, 0, 0, 0.2);
  --box-shadow-focus: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
  background-color: var(--light-text);
  color: var(--dark-text);
  margin: 0;
  padding: 0;
}

header, main, section {
  margin: 0 auto;
  padding: 20px;
  max-width: 980px;
}

.gradient-section {
  background: linear-gradient(to right, #03045E, #023E8A, #0077B6, #0096C7, #00B4D8, #48CAE4, #90E0EF, #ADE8F4);
  border-radius: 4px;
  color: var(--light-text);
}

#title-container h1 {
  font-weight: bold;
  font-size: 2.5em;
}

#header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#description-container {
  text-align: center;
  flex-grow: 1;
}

#main-container {
  max-width: 93%;
  padding-top: 0rem;
}

#info-container {
  background-color: var(--light-blue);
  color: var(--dark-text);
  padding: 10px;
  border-radius: 4px;
}


.box-container {
  padding: 14px;
  border-radius: 4px;
  box-shadow: var(--box-shadow-light);
}

button {
  cursor: pointer;
  background-color: var(--primary-color);
  color: var(--light-text);
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  box-shadow: var(--box-shadow-light);
  transition: background-color 0.3s, box-shadow 0.3s;
}

button:hover {
  background-color: var(--hover-color);
  box-shadow: var(--box-shadow-dark);
}

button:active, button:focus {
  outline: none;
  box-shadow: var(--box-shadow-focus);
}

.form-group {
  margin-bottom: 15px;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type=number], input[type=text] {
  width: 100%;
  padding: 8px;
  border: 1px solid var(--input-border);
  border-radius: 4px;
}

input::placeholder {
  color: var(--placeholder-text);
}

.table-responsive {
  width: 100%;
  margin-top: 15px;
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background-color: var(--primary-color);
  color: var(--light-text);
}

th, td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

tbody tr:hover {
  background-color: var(--light-blue);
}

@media screen and (max-width: 768px) {
  header, main, section, .gradient-section, .box-container {
    padding: 10px;
    max-width: 90%;
  }

  button {
    padding: 8px 16px;
  }

  th, td {
    padding: 8px;
  }
}

@media screen and (max-width: 480px) {
  #header-container {
    flex-direction: column;
    align-items: flex-start;
  }
}
